@use "../../../styles/variable" as *;
@use "../../../styles/mixin" as *;

.section {
    background-color: $color7;
    padding-top: 100px;
    padding-bottom: 245px;
    background-image: url(../../../public/service/service-illust.png), url(../../../public/service/service-bg.svg);
    background-repeat: no-repeat;
    background-position: left 50% bottom -1px;
    background-size: 745px, 770px;
    * {
        font-weight: 500;
    }
    @include lg {
        padding-bottom: 200px;
        background-size: 580px, 620px;
    }
    @include md {
        padding-bottom: 160px;
        background-size: 480px, 520px;
    }
    @include sm {
        padding-bottom: 27vw;
        background-size: 85%, 90%;
    }
}
.sectionHead {
    margin-bottom: 64px;
}
.headingText {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
    line-height: 1.6;
    @include md {
        font-size: 2rem;
    }
    .colored {
        color: $color6;
    }
}
.introText {
    text-align: center;
    margin-bottom: 48px;
    @include md {
        margin-bottom: 24px;
    }
}
.contentTitle {
    position: relative;
    padding: 0 24px;
    font-size: 2rem;
    color: $color6;
    font-weight: 500;
    width: fit-content;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    &::after,
    &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $color9;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}
.supportStepsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
    @include lg {
        row-gap: 40px;
    }
    @include sm {
        row-gap: 32px;
    }
    .supportStepsItem {
        max-width: calc((100% - 32px) / 5);
        width: 100%;
        padding: 40px 4px 24px 4px;
        background: $color1;
        border: 2px solid $color9;
        border-radius: 4px;
        position: relative;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
        @include lg {
            max-width: calc((100% - 16px) / 3);
        }
        @include sm {
            max-width: 100%;
        }
        .supportStepsItemNumber {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            background: $color6;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: 2rem;
                text-align: center;
                color: $color1;
            }
        }
        .supportStepsItemTitle {
            text-align: center;
            font-weight: 700;
            @include xl {
                font-size: 1.4rem;
            }
        }
        &:first-child {
            .supportStepsItemNumber {
                background: #fdede8;
                span {
                    color: $color6;
                }
            }
        }
        &:nth-child(2) {
            .supportStepsItemNumber {
                background: #ffc9c0;
            }
        }
        &:nth-child(3) {
            .supportStepsItemNumber {
                background: #ffa494;
            }
        }
        &:nth-child(4) {
            .supportStepsItemNumber {
                background: $color6;
            }
        }
        &:nth-child(5) {
            .supportStepsItemNumber {
                background: #f86146;
            }
        }
    }
}
.button {
    margin: 0 auto;
}
.content01 {
    margin-bottom: 48px;
}
.serviceContents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 24px;
    @include lg {
        grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
        gap: 8px;
        grid-template-columns: 1fr;
    }
    .serviceContentsItem {
        padding: 32px 24px;
        background: $color1;
        border: 2px solid $color6;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        @include xl {
            padding: 28px 16px;
        }
        @include lg {
            padding: 16px 16px;
        }
        .serviceContentsItemImage {
            width: 76px;
            aspect-ratio: 1;
            background: $color7;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            flex-shrink: 0;
            @include xl {
                width: 64px;
            }
            img {
                width: 60%;
                display: block;
            }
        }
        .sserviceContentsItemNumber {
            font-size: 1.1rem;
            background: $color6;
            color: $color1;
            padding: 4px 12px;
            border-radius: 40px;
            text-align: center;
            width: fit-content;
            margin-bottom: 4px;
            @include lg {
                margin-bottom: 8px;
            }
        }
        .serviceContentsItemTitle {
            font-weight: 700;
            font-size: 1.6rem;
        }
    }
}
