SUPABASE_PROJECT_ID=local
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
V0_API_KEY=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

SUPABASE_PROJECT_REF_PROD=
SUPABASE_ACCESS_TOKEN_PROD=
SUPABASE_DB_URL_PROD=
